* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('fixedPoster.jpg') no-repeat center center;
    background-size: contain;
    color: white;
}

.container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.profile h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

.profile p {
    font-size: 16px;
    margin-bottom: 20px;
}

.links .link {
    display: block;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    transition: background-color 0.3s;
}

.links .link:hover {
    background-color: #45a049;
}
